.header-page {
    background-image: url("../image/ros.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.btn-sua {
    margin-left: 400px;
}